body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-bpmn-diagram-container {
  width: 100%;
  height: 95%;
  cursor: grab;
}

.react-bpmn-diagram-container:active {
  cursor: grabbing;
}

a.bjs-powered-by {
  visibility: hidden;
}
